{
	"extends": [
		"wesbos/typescript"
	],
	"rules": {
		"no-plusplus": 0,
		"comma-dangle": 0,
		"object-curly-spacing": 2,
		"global-require": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/unbound-method": "off"
	},
	"ignorePatterns": [
		"./dist/*"
	]
}
